.nav--img-logo {
    width: 100%;
}

.full-width {
    width: 100%;
    height: auto;
}

.fixed-height {
    height: 350px !important;
}

.highlight {
    background: yellow;
}

.search {
    position: relative;
    width: 100%;
}

.search input {
    text-indent: 30px;
}

.search .fa-search {
    position: absolute;
    left: 2%;
    top: 25%;
    font-size: 15px;
}
