<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#inSlider" data-slide-to="0" class="active"></li>
							<li data-target="#inSlider" data-slide-to="1"></li>
						</ol>
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<div class="container">
									<div class="carousel-caption">
										<div class="animated bounceInDown">
										<h1>Jeitinho Certsys<br/>
											Documentação Simplificada
											</h1>
										<h2>Contribua com seus conhecimentos e dicas!</h2>
										</div>
									</div>
									<!-- <div class="carousel-image wow zoomIn"> -->
										<!-- <img style="z-index:2000; width:100px; height:auto;" src="../../img/logo_certsys.png" alt="laptop"/> -->
									<!-- </div> -->
								</div>
								<!-- Set background for slide in css -->
								<div class="header-back dummy1"></div>

							</div>
							<div class="item">
								<div class="container">
									<div class="carousel-caption">
										<div class="animated bounceInDown">
										<h1>Tudo em um Click<br/> 
											Links, Comandos e Textos</h1>
										<h2>Instalação, ambientação e outras dúvidas</h2>
										</div>
									</div>			
								</div>
								<!-- Set background for slide in css -->
								<div class="header-back dummy2"></div>
							</div>
						</div>
						<a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Anterior</span>
						</a>
						<a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Próximo</span>
						</a>
					</div>