<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <img alt="image" class="nav--img-logo" src="img/intracs.svg"/>


                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="pagina_principal"><i class="fa fa-globe"></i> <span class="nav-label">{{ 'HOME' | translate }}</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="perfil"><i class="fa fa-user"></i> <span class="nav-label">{{ 'PROFILE' | translate }}</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="outlook"><i class="fa fa-envelope"></i><span class="nav-label"> {{ 'OUTLOOK' | translate}}</span></a>
            </li>

            <li ng-class="{active: $state.includes('mailbox')}">
                <a ui-sref="mailbox.inbox"><i class="fa fa-envelope"></i> <span class="nav-label">{{ 'MAILBOX' | translate }} </span><span class="label label-warning pull-right">16/24</span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('mailbox')}">
                    <li ui-sref-active="active"><a ui-sref="mailbox.inbox">{{ 'INBOX' | translate}}</a></li>
                    <li ui-sref-active="active"><a ui-sref="mailbox.email_view">{{ 'MAILVW' | translate}}</a></li>
                    <li ui-sref-active="active"><a ui-sref="mailbox.email_compose">{{ 'MAILCOMPOSE' | translate}}</a></li>
                    <li ui-sref-active="active"><a ui-sref="mailbox.email_template">{{ 'MAILTEMPLATE' | translate}}</a></li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="contatos"><i class="fa fa-group"></i> <span class="nav-label">{{ 'CONTACTS' | translate }}</span></a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="projetos"><i class="fa fa-briefcase"></i> <span class="nav-label">{{ 'PROJDETAIL' | translate }}</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="teams_board"><i class="fa fa-tasks"></i> <span class="nav-label">{{ 'TEAMBOARD' | translate }}</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="calendario"><i class="fa fa-calendar"></i> <span class="nav-label">{{ 'CALENDAR' | translate }}</span></a>
            </li>
         
            <li ui-sref-active="active">
                <a href=""><i class="fa fa-copy"></i> <span class="nav-label">{{ 'FORUM' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('forum')}">
                    <li ui-sref-active="active"><a ui-sref="forum">{{ 'FORUMSEEALL' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="forum.post">{{ 'NEWDISC' | translate }}</a></li>
                </ul>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="enquetes"><i class="fa fa-check"></i> <span class="nav-label">{{ 'VOTELIST' | translate }}</span></a>
            </li>
            <li ui-sref-active="active">
                <a href=""><i class="fa fa-book"></i> <span class="nav-label">{{ 'KB' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('kb')}">
                    <li ui-sref-active="active"><a ui-sref="kb">{{ 'KBSEEALL' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="kb.articles">{{ 'TXTEDITOR' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="kb.files">{{ 'FILES' | translate}}</a></li>
                    <li ui-sref-active="active"><a ui-sref="kb.upload">{{ 'FILEUPLD' | translate}}</a></li>
                </ul>
            </li>

        </ul>

    </div>
</nav>
