<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <img alt="image" class="nav--img-logo" src="img/intracs.svg"/>


                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="pagina_principal"><i class="fa fa-globe"></i> <span class="nav-label">{{ 'HOME' | translate }}</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="perfil"><i class="fa fa-user"></i> <span class="nav-label">{{ 'PROFILE' | translate }}</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="pagina_principal"><i class="fa fa-envelope"></i><span class="nav-label"> {{ 'OUTLOOK' | translate}}</span></a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="pagina_principal"><i class="fa fa-envelope"></i> <span class="nav-label">{{ 'MAILBOX' | translate }} </span><span class="label label-warning pull-right">16/24</span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('mailbox')}">
                    <li ui-sref-active="active"><a ui-sref="pagina_principal">{{ 'INBOX' | translate}}</a></li>
                    <li ui-sref-active="active"><a ui-sref="pagina_principal">{{ 'MAILVW' | translate}}</a></li>
                    <li ui-sref-active="active"><a ui-sref="pagina_principal">{{ 'MAILCOMPOSE' | translate}}</a></li>
                    <li ui-sref-active="active"><a ui-sref="pagina_principal">{{ 'MAILTEMPLATE' | translate}}</a></li>
                </ul>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="pagina_principal"><i class="fa fa-group"></i> <span class="nav-label">{{ 'CONTACTS' | translate }}</span></a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="pagina_principal"><i class="fa fa-briefcase"></i> <span class="nav-label">{{ 'PROJDETAIL' | translate }}</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="pagina_principal"><i class="fa fa-tasks"></i> <span class="nav-label">{{ 'TEAMBOARD' | translate }}</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="pagina_principal"><i class="fa fa-calendar"></i> <span class="nav-label">{{ 'CALENDAR' | translate }}</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="pagina_principal"><i class="fa fa-copy"></i> <span class="nav-label">{{ 'FORUM' | translate }}</span></a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="pagina_principal"><i class="fa fa-check"></i> <span class="nav-label">{{ 'VOTELIST' | translate }}</span></a>
            </li>

            <li ui-sref-active="active">
                <a href=""><i class="fa fa-book"></i> <span class="nav-label">{{ 'KB' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('forms')}">
                    <li ui-sref-active="active"><a ui-sref="pagina_principal">{{ 'TXTEDITOR' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="pagina_principal">{{ 'FILEUPLD' | translate}}</a></li>
                </ul>
            </li>

        </ul>

    </div>
</nav>
