<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">

        <div class="navbar-header">

            <a ui-sref="feed" class="navbar-brand"><img class="img-responsive" src="/util/certsys_logo_branco.png"></a>
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
                    class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
        </div>
        <div ng-controller="navigationCrtl">
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li ui-sref-active="active">
                        <a ui-sref="feed"><i class="fa fa-globe"></i> {{ 'HOME' | translate }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="institucional"><i class="fa fa-institution"></i> {{ 'INSTITUTIONAL' | translate
                            }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="kb"><i class="fa fa-folder-open"></i> {{ 'KNOWLEDGEBASE' | translate }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="contatos"><i class="fa fa-group"></i> {{ 'CONTACTS' | translate }}</a>
                    </li>
                    <!-- <li class="dropdown" dropdown>
                        <a class="dropdown-toggle" href dropdown-toggle> Menu item <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="#">Menu item</a></li>
                            <li><a href="#">Menu item</a></li>
                            <li><a href="#">Menu item</a></li>
                            <li><a href="#">Menu item</a></li>
                        </ul>
                    </li>  Exemplo caso queiramos dropdown -->
                </ul>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a ng-click="logout()">
                            <i class="fa fa-sign-out"></i> Sair
                        </a>
                    </li>
                </ul>

                <!--<ul class="nav navbar-top-links navbar-right">-->
                <!--<li ui-sref-active="active">-->
                <!--<a ng-click="perfil()">Olá, {{nome}}!</a>-->
                <!--</li>-->
                <!--</ul>-->

                <ul class="nav navbar-top-links navbar-right">
                    <li ui-sref-active="active" class="dropdown" dropdown>
                        <a class="dropdown-toggle" href dropdown-toggle>Olá, {{nome}}!<span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a ng-click="perfil()">Ver Perfil</a></li>
                            <li><a ui-sref="editcontact">Editar Perfil</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>