<!-- Wrapper-->
<div id="wrapper" class="top-navigation">
    <!-- Navigation -->
    <div ng-include="'views/common/navigation.html'"></div>
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">
        <!-- Main view  -->
        <div ng-controller="kbSubscribeCtrl">
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h2>{{title}}</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Descreva aqui seu novo item</h5>
                        </div>
                        <div class="ibox-content">
                            <h2>Nome</h2><br>
                            <input required class="col-sm-12" type="text" ng-model="nome" name="Nome">
                            <br><h2>Pai</h2><br>
                            <select class="form-control" name="Árvore" ng-model="arvore" value="Árvore" class="col-sm-12">
                                <option value="">Selecionar Diretório</option>
                                <option ng-repeat="node in tree" value="{{node.nome}}">{{node.nome}}</option>
                            </select>
                            <input icheck type="radio" name="Pasta" ng-model="folder"> Pasta </label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'views/common/footer.html'"></div>
    </div>
</div>