<!-- Wrapper-->
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
</div>

<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'views/common/navigation.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!-- Page wrapper -->
        <div ng-include="'views/common/topnavbar.html'"></div>

        <!-- Main view  -->

        <div ng-controller="insertcontacts">
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>{{title}}</h2>
                </div>
            </div>
            <br>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Insira novo contato<br>
                        <small>Inserindo suas informações abaixo.</small>
                    </h5>
                </div>
                <div class="ibox-content">
                    <form ng-submit="submit()" class="form-horizontal">
                        Nome<br>
                        <input class="col-sm-12" type="text" ng-model="name" name="Nome">
                        <br>
                        
                        Ferramentas Principais<br>
                        <input class="col-sm-2" ng-repeat="field in tooltable.maintools track by $index" type='text' ng-model='tooltable.maintools[$index]' placeholder='Ferramentas (Principais)' name="FerramentasPrincipais" style="margin-right:5px">
                        <div>
                          <button ng-click="addFormFieldMain()">Add</button>
                        </div>
                        Ferramentas (Avançado)<br>
                        <input class="col-sm-2" ng-repeat="field in tooltable.tools_advanced track by $index" type='text' ng-model='tooltable.tools_advanced[$index]' placeholder='Ferramentas (Avançado)' name="FerramentasPrincipais" style="margin-right:5px">
                        <div>
                          <button ng-click="addFormFieldAdvanc()">Add</button>
                        </div>
                        Ferramentas (Interm)<br>
                        <input class="col-sm-2" ng-repeat="field in tooltable.tools_intermediate track by $index" type='text' ng-model='tooltable.tools_intermediate[$index]' placeholder='Ferramentas (Interm)' name="FerramentasInterm" style="margin-right:5px">
                        <div>
                          <button ng-click="addFormFieldInterm()">Add</button>
                        </div>
                        Ferramentas (Básico)<br>
                        <input class="col-sm-2" ng-repeat="field in tooltable.tools_basic track by $index" type='text' ng-model='tooltable.tools_basic[$index]' placeholder='Ferramentas (básico)' name="FerramentasPrincipais" style="margin-right:5px">
                        <div>
                          <button ng-click="addFormFieldBasic()">Add</button>
                        </div>
    
                        <br>
                        <pre>{{ tooltable | json }}</pre>
                        
                        Email<br>
                        <input class="col-sm-12" type="text" ng-model="mail" name="Email">
                        <br>
                        Telefone<br>
                        <input class="col-sm-12" type="text" ng-model="phone" name="Telefone">
                        <br>
                        Skype<br>
                        <input class="col-sm-12" type="text" ng-model="skype" name="Skype">
                        <br>
                        Imagem<br>
                        <input required class="col-sm-12" type="file" file-model="imagem" ng-model="imagem" name="imagem" >
                        <br>
                        <img ng-src="{{ thumbnail.dataUrl }}" />
                        <br>
                        <br>
                        <br><input class="col-sm-12 btn btn-primary" type="submit" value="Submit">
                    </form>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div ng-include="'views/common/footer.html'"></div>
    </div>
    <!-- End page wrapper-->
</div>
<!-- End wrapper-->