<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-laptop modal-icon"></i>
        <h4 class="modal-title">Crie e Edite o curso desejado</h4>
        <small class="font-bold">Universidade Certsys fortalece as bases acadêmicas e técnicas.</small>
    </div>
    <div class="modal-body">
        <form method="get" class="form-horizontal">
            <div class="col-sm-12 text-center"><h3>Dados Gerais do Curso</h3></div>
            <div class="form-group"><label class="col-sm-2 control-label">Título:</label>
                <div class="col-sm-10"><input type="text" ng-model="titulo" placeholder="Ferramenta e nível da aula..."
                                              class="form-control">
                </div>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">Descrição:</label>
                <div class="col-sm-10"><input type="text" ng-model="descricao" placeholder="Diretrizes gerais..." class="form-control">
                </div>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">Local:</label>
                <div class="col-sm-10"><input type="text" ng-model="local" placeholder="Defina o local do curso..." class="form-control">
                </div>
            </div>

            <div class="hr-line-dashed"></div>


            <div class="form-group">
                <div class="col-sm-12 text-center"><h3>Limite de Incrições e Data do Curso</h3></div>

                <label class="col-sm-2 control-label">Data:</label>
                <div class="col-sm-4 input-group-2 date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input id="data-inicio" watch-direct-changes="true" type="text" date-time="diaInicio" data-ng-model="diaInicio"
                           format="DD/MM/YYYY" view="date" min-view="date" auto-close="true"
                           class="ng-pristine ng-valid ng-scope ng-touched form-control">
                    <!--<input type="text" class="form-control" data-ng-model="programado.checkOut" name="programado" date-time required min="{{ today | date: 'yyyy-MM-dd' }}" view="date" auto-close="true" min-view="date" format="DD/MM/YYYY">-->
                </div>

                <div class="col-sm-2 input-group-2 date">
                    <input ng-model="horarioInicio" type="text" clock-picker class="form-control">
                    <!--<input type="text" class="form-control" data-ng-model="programado.checkOut" name="programado" date-time required min="{{ today | date: 'yyyy-MM-dd' }}" view="date" auto-close="true" min-view="date" format="DD/MM/YYYY">-->
                </div>

                <label class="col-sm-2 control-label"> às </label>

                <div class="col-sm-2 input-group-2 date">
                    <input ng-model="horarioFim" type="text" clock-picker
                           class="form-control">
                    <!--<input type="text" class="form-control" data-ng-model="programado.checkOut" name="programado" date-time required min="{{ today | date: 'yyyy-MM-dd' }}" view="date" auto-close="true" min-view="date" format="DD/MM/YYYY">-->
                </div>

            </div>
            <div class="form-group"><label class="col-sm-2 control-label">Limite:</label>
                <div class="col-sm-10 input-group-2 date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input id="data-limite-inscricao" type="text" date-time="" data-ng-model="dataLimiteInscricao"
                           format="DD/MM/YYYY HH:mm" view="date" min-view="hours" auto-close="true"
                           class="ng-pristine ng-valid ng-scope ng-touched form-control">
                    <!--<input type="text" class="form-control" data-ng-model="programado.checkOut" name="programado" date-time required min="{{ today | date: 'yyyy-MM-dd' }}" view="date" auto-close="true" min-view="date" format="DD/MM/YYYY">-->
                </div>
            </div>

            <div class="hr-line-dashed"></div>
            <div class="col-sm-12 text-center"><h3>Mínimo e Máximo de Alunos</h3></div>
            <div class="form-group"><label class="col-sm-2 control-label">Mín:</label>
                <div class="col-sm-10">
                    <h-number value="minInscritos" min="2" step="1"
                              change="onChangeMinimo()"></h-number>
                </div>

            </div>
            <div class="form-group"><label class="col-sm-2 control-label">Max:</label>
                <div class="col-sm-10">
                    <h-number value="maxInscritos" min="2" step="1"
                              change="onChangeMaximo()"></h-number>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="col-sm-12 text-center"><h3>Escolha Alguém</h3></div>
            <div class="form-group"><label class="col-sm-2 control-label">Instrutor:</label>
                <div class="col-sm-10">
                    <input type="text" placeholder="Quem irá ministrar..." class="form-control" ng-model="selected"
                           typeahead="contato as (contato.nome) for contato in contatos | filter:{nome: $viewValue}"/>
                </div>
            </div>


            <div class="hr-line-dashed"></div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Fechar</button>
        <button type="button" class="btn btn-primary" ng-click="salvar()">Salvar Curso</button>
    </div>
</div>

