<!-- Wrapper-->
<div id="wrapper" class="top-navigation">

    <!-- Navigation -->
    <div ng-include="'views/common/navigation.html'"></div>


    <!-- Page wraper -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}" ng-controller="recrutamentoCtrl">

        <!-- Page wrapper -->

        <!-- Main view  -->
        <div class="row wrapper border-bottom white-bg page-heading padding-0">
            <div class="col-lg-10">
                <h2>{{title}}</h2>
            </div>
            <div class="col-lg-2">

            </div>
        </div>


        <div class="wrapper wrapper-content animated fadeInDown padding-0">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Todas as vagas</h5>

                    <div class="ibox-tools" ng-if="permissions.instructors">
                        <a class="btn btn-primary btn-xs" ng-click="createJob()">Criar Vaga</a>
                    </div>

                </div>
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-1 btn-group">
                            <div data-toggle="dropdown" type="button" id="loading-example-btn" class="btn btn-white btn-sm dropdown-toggle"><i
                                    class="fa fa-filter"></i> Filtrar
                            </div>
                            <ul class="dropdown-menu" style="min-width: 200px;">
                                <li>
                                    <a ng-click="selectedStatus=[]"><span class="fa fa-times pull-right-universidadeFilter"></span>Desmarcar Todos</a>
                                </li>
                                <li class="divider"></li>
                                <li ng-repeat="status in tiposStatus">
                                    <a ng-click="searchByStatus()">{{status}}<span data-ng-class="isChecked(status)"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-11">
                            <div class="input-group"><input type="text" placeholder="Pesquisar vagas..."
                                                            class="input-sm form-control" ng-model="search.nome"> <span
                                    class="input-group-btn">
				            <button type="button" class="btn btn-sm btn-primary"> Pesquisar!</button> </span></div>
                        </div>
                    </div>

                    <div class="project-list">

                        <table class="table table-hover">
                            <tbody>
                            <tr ng-repeat-start="vaga in filtered = ( vagas | orderBy:'-data_inicio' | vagaStatusFilter:selectedStatus | filter: search | filter: vagaDeletedFilter )"  >
                                <td class="project-status" >
                                    <span ng-style="{'background-color': backgroundColor, 'color': color}"
                                          class="label">{{status(vaga)}}</span>
                                </td>
                                <td class="project-title">
                                    <a ui-sref="project_detail">{{vaga.nome}}</a>
                                    <br/>
                                    <small>Inscrições abertas até {{vaga.data_limite_inscricao | date:'dd/MM/yyyy - HH'}}h{{vaga.data_limite_inscricao | date:'mm'}}
                                    </small>
                                    <br/>
                                    <small><b>{{vaga.data_inicio | date:'dd/MM/yyyy - HH'}}h{{vaga.data_inicio |
                                        date:'mm'}} às {{vaga.data_fim | date:'HH'}}h{{vaga.data_fim | date:'mm'}}
                                    </b></small>
                                </td>
                                <td class="project-completion">
                                    <small>Pessoas inscritas: {{vaga.inscritos.length}}/{{vaga.max_inscritos}}</small>
                                    <div class="progress progress-mini">
                                        <div style="width: {{(vaga.inscritos.length/vaga.max_inscritos)*100}}%;"
                                             class="progress-bar"></div>
                                    </div>
                                </td>
                                <td class="project-actions" ng-if="permissions.instructors">
                                    <a class="btn btn-primary btn-sm fixed-width" ng-click="edit(vaga)"><i
                                            class="fa fa-pencil-square"></i> Editar </a>
                                </td>
                                <td class="project-actions" ng-if="!allowSubscription(vaga)">
                                    <a class="btn btn-white btn-sm fixed-width" ng-disabled="true"><i
                                            class="fa fa-times"></i> Encerrado </a>
                                </td>
                                <td class="project-actions" ng-if="subscribed(vaga) && allowSubscription(vaga)">
                                    <a class="btn btn-primary btn-sm fixed-width" ng-disabled="buttonDisabled"
                                       ng-click="removeSubscription(vaga)"><i class="fa fa-check"></i> Inscrito
                                    </a>
                                </td>
                                <td class="project-actions" ng-if="!subscribed(vaga) && allowSubscription(vaga)">
                                    <a class="btn btn-white btn-sm fixed-width" ng-disabled="buttonDisabled"
                                       ng-click="addSubscription(vaga)"><i class="fa fa-pencil"></i> Inscrever </a>
                                </td>
                                <td class="project-actions">
                                    <a ng-if="vaga.expanded" ng-click="vaga.expanded = false">
                                        <i class="fa fa-chevron-up"></i> </a>
                                    <a ng-if="!vaga.expanded" ng-click="vaga.expanded = true">
                                        <i class="fa fa-chevron-down"></i> </a>
                                </td>
                            </tr>
                            <tr ng-if="vaga.expanded" ng-repeat-end="" class="animated fadeInRight">
                                <td colspan="4">
                                    <small><b>Descrição</b></small>
                                    <br>
                                    <smal>{{vaga.descricao}}</smal>
                                </td>
                                <td colspan="4">

                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>


        <!-- Footer -->
        <div ng-include="'views/common/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->


